.score {
    width: 100%;
    background-color: black;
    height: 70px;
    text-align: center;
}
*{
    margin:0;
    padding:0;
}

body {
    color: white;
}
.game {
    width: 400px;
    height: 90vh;
    position: relative;
    background-color: black;
    margin: auto;
    overflow: hidden;
    border-right:7px dashed #c8d6e5;
    border-left:7px dashed #c8d6e5
}

.start {
    background-color: red;
    padding: 25px;
    color: white;
    height: 120px;
    width: 600px;
    position: absolute;
    margin-left: 28%;
    margin-top: 42px;
    z-index: 2;
    text-align: center;
    line-height: 30px;
}

.hide {
    display:none;
}

.car ,.enemy{
     background-image: url("car2.png");
     background-repeat: no-repeat;
     background-size: 100% 100%;
    /* background-size: contain; */ 
    background-color: red;
    height: 90px;
    width: 50px;
    position: absolute;
    bottom: 120px;
    z-index: 1;
    

}

.line {
    background-color: white;
    height: 100px;
    position: absolute;
    left: 47%;
    width: 10px;
}
.container{
    width:100%;
    height:100vh;
    background-image: url('car\ bg.png.jfif');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
